# Ignore node_modules (will be installed inside Docker)
node_modules
dist

# Ignore all apps except api-gateway
apps/post-service/
apps/comment-service/

# Ignore libs if you want (optional)
libs/

# Ignore environment files if not needed
.env
*.env.local

# Ignore IDE/editor configs
.vscode/
.idea/
*.log

# Ignore git files
.git
.gitignore
